/* drag component */
.drag {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    height: 10rem;
    width: 20rem;

    border: 1px solid #eee;
    border-radius: 0.75rem;

    transition: border 100ms ease-in-out, box-shadow 100ms ease-in-out,
        transform 100ms ease-in-out;
}

.drag:hover,
.drag-highlight {
    border: 1px solid var(--primary);
    box-shadow: 0 0.5rem 1rem var(--primary-shadow);
    transform: translateY(-0.5rem);
}

.drag svg {
    margin: 0 auto;
    display: block;
    height: 2.5rem;
    width: 2.5rem;
}

.drag__form__label {
    display: block;
    margin: 1rem 0 0 0;
}

#drag__form__input {
    overflow: hidden;
    height: 1rem;
    width: 6rem;
    display: none;
}
