.app__music {
    --background: #fff;

    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: var(--background);
}

/* track component */
.track__cd {
    position: relative;
    margin: 0;
    user-select: none;

    height: 22rem;
    width: 22rem;
}

.track__cd::before {
    content: "";
    display: block;
    border-radius: 50%;
    width: 9rem;
    height: 9rem;
    backdrop-filter: blur(4px);
    z-index: 1;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.track__cd::after {
    content: "";
    display: block;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;

    position: absolute;
    background: var(--background);
    z-index: 1;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.track__cd img {
    position: absolute;
    top: 0;
    left: 0;

    border-radius: 50%;
    border: 1px solid #eee;
    width: 100%;
    height: 100%;
    object-fit: cover;

    animation: 30s util-spin infinite linear;
}

.track__sound {
    width: 100%;
    height: 2rem;
}

.track__sound canvas {
    height: 100%;
    width: 100%;
}

.track__time {
    margin: 0.25rem 0 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.track__title {
    margin: 0;
    max-width: 80%;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}
