.app__music {
    --background: #fff;

    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: var(--background);

    user-select: none;
}

/* track component */
.track__cd {
    position: relative;
    margin: 0;
    user-select: none;

    height: 22rem;
    width: 22rem;
}

.track__cd::before {
    content: "";
    display: block;
    border-radius: 50%;
    width: 9rem;
    height: 9rem;
    backdrop-filter: blur(4px);
    z-index: 1;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.track__cd::after {
    content: "";
    display: block;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;

    position: absolute;
    background: var(--background);
    z-index: 1;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.track__cd img {
    position: absolute;
    top: 0;
    left: 0;

    border-radius: 50%;
    border: 1px solid #eee;
    width: 100%;
    height: 100%;
    object-fit: cover;

    animation: 30s util-spin infinite linear;
}

.track__sound {
    width: 100%;
    height: 2rem;
}

.track__sound canvas {
    height: 100%;
    width: 100%;
}

.track__time {
    margin: 0.25rem 0 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.track__title {
    margin: 0;
    max-width: 80%;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

/* menu */
.screen {
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    z-index: 10;
    transition: background-color 500ms ease-in-out;
}

.screen-bg {
    background-color: rgba(0, 0, 0, 0.2);
}

.menu {
    --toggle-size: 2.5rem;
    --menu-margin: 1rem;

    position: absolute;
    left: 50%;
    top: calc(100vh - var(--toggle-size) - var(--menu-margin));
    /* bottom: var(--menu-margin); */
    transform: translateX(-50%);

    z-index: 20;

    width: 20rem;
    height: fit-content;
}

.menu__toggle {
    margin: 0 auto;

    border-radius: 50%;
    border: 1px solid #eee;

    height: var(--toggle-size);
    width: var(--toggle-size);

    display: grid;
    place-items: center;

    background: #fff;

    cursor: pointer;

    transition: border 100ms ease-in-out, box-shadow 100ms ease-in-out,
        transform 100ms ease-in-out, color 100ms ease-in-out;
}

.menu__toggle:hover {
    border: 1px solid var(--primary);
    /* box-shadow: 0 0.5rem 1rem var(--primary-shadow);
    transform: translateY(-0.5rem); */
}

.menu__content {
    margin: var(--menu-margin) 0 0 0;
    background: #fff;
    padding: 1.25rem;
    border-radius: 0.75rem;
    border: 1px solid #eee;
}

.menu__content__tracks {
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
}

.menu__content__tracks > li {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.menu__content__tracks > li > svg {
    cursor: pointer;
}

.controls {
    width: 100%;
    margin: 1rem 0 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.controls__icon {
    border: none;
    border-radius: 50%;

    outline: none;
    border: 1px solid #eee;
    background-color: #fff;

    height: var(--toggle-size);
    width: var(--toggle-size);

    display: grid;
    place-items: center;

    cursor: pointer;

    transition: border-color 100ms ease-in-out;
}

.controls__icon:hover {
    border-color: var(--primary);
}
